.reveal code {
    font-family: monospace;
    color: darkred;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
    background-color: #FFFBFF;
    padding: 2px;
}

.reveal pre {
    font-family: monospace;
    color: darkred;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
    background-color: #FFFBFF;
    padding: 2px;
}

.topcorner{
   position:absolute;
   top:0;
   right:0;
  }